<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Mini Carsales</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/animations.css" rel="stylesheet" />
    <link href="Content/styles.css" rel="stylesheet" />
</head>
<body ng-cloak>
    <header class="navbar navbar-inner navbar-fixed-top" ng-controller="NavbarController as vm">
        <nav class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-click="vm.isCollapsed = !vm.isCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">
                    <span class="appTitle">{{ vm.appTitle }}</span>
                </a>
            </div>
            <div class="nav-container" data-collapse="vm.isCollapsed">

                <!-- With menu-highlighter directive -->
                <ul class="nav navbar-nav nav-pills navBarPadding"
                    menu-highlighter highlight-class-name="active">
                    <li data-ng-show="vm.isAuthenticated"><a href="#/vehicles">Vehicles</a></li>
                    <li data-ng-show="vm.isAuthenticated"><a href="#/enquiries">Enquiries</a></li>
                    <li id="nav-login" ng-click="vm.loginOrOut()">
                        <!-- href not used but needed to compare against path in menu-highlighter -->
                        <a data-href="#/login">{{ vm.loginLogoutText }}</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="slide-animation-container">
        <div ng-view id="ng-view" class="slide-animation"></div>
    </div>

    <div id="footer">
        <div class="navbar navbar-fixed-bottom">
            <div class="navbar-inner footer">
                <div class="container">
                    <footer>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                Created by Issac Chan
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>

    <div wc-overlay wc-overlay-delay="300">
        <br /><img src="Content/images/spinner.gif" />&nbsp;&nbsp;Loading
    </div>

    <!-- 3rd party libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.min.js"></script>
    <script src="Scripts/angular-ui-bootstrap.js"></script>
    <script src="Scripts/tweenMax.min.js"></script>
    <script src="Scripts/ng-file-upload-shim.min.js" ></script>
    <script src="Scripts/ng-file-upload.min.js"></script>
    
    <!-- To use breeze change the app/myApp/services/config.js useBreeze property to true -->
    <script src="Scripts/breeze.min.js"></script>
    <script src="Scripts/breeze.angular.js"></script>

    <!-- Custom scripts -->
    <script src="app/wc.directives/directives/wcOverlay.js"></script>
    <script src="app/wc.directives/directives/menuHighlighter.js"></script>
    <script src="app/myApp/app.js"></script>
    <script src="app/myApp/animations/listAnimations.js"></script>
    <script src="app/myApp/directives/wcUnique.js"></script>
    <script src="app/myApp/services/config.js"></script>
    <script src="app/myApp/services/authService.js"></script>
    <script src="app/myApp/services/httpInterceptors.js"></script>
    <script src="app/myApp/services/backendBreezeService.js"></script>
    <script src="app/myApp/services/backendService.js"></script>
    <script src="app/myApp/services/dataService.js"></script>
    <script src="app/myApp/services/modalService.js"></script>
    <script src="app/myApp/controllers/vehicles/vehiclesController.js"></script>
    <script src="app/myApp/controllers/vehicles/vehicleEditController.js"></script>
    <script src="app/myApp/controllers/vehicles/searchController.js"></script>
    <script src="app/myApp/controllers/enquiries/enquiriesController.js"></script>
    <script src="app/myApp/controllers/enquiries/enquiryAddController.js"></script>
    <script src="app/myApp/controllers/navbarController.js"></script>
    <script src="app/myApp/controllers/loginController.js"></script>

</body>
</html>


